<body class="image_imageshow">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/apod">APOD</a></li>
        <li><a href="/images">Explore</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/users/<%= current_user.id %>/main">Dashboard</a></li>
        <li><a href="/users/<%= current_user.id %>/profile">My Profile</a></li>
        <span>Welcome <%= @user.first_name %><span>
        <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input id='logoutbtn' type="submit" name="" value="Log Out">
        </form>
      </ul>
    </div>
  </nav>
  <br>
  <br>

  <div class="row">
    <div class="col s2">
    </div>
    <div class="col s8">
      <center>
        <%= image_tag @image.image.url(:large), :id=> "theimage", :class => "materialboxed" %><br>
      </center>
    </div>
    <div class="col s2">
    </div>
  </div>



  <% unless @image.users.include?(current_user)%>
    <form class="" action="/likes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="like[image_id]" value="<%= @image.id %>">
      <button><i class="small material-icons">thumb_up</i>Like</button>
    </form>
  <% else %>
    <!-- <form class="" action="index.html" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="like[image_id]" value="<%= @image.id %>">
      <button><i class="small material-icons">thumb_down</i>Dislike</button>
    </form>
      <button disabled><i class="small material-icons">thumb_up</i>Liked</button> -->
  <% end %>

  <br>
  <%= @image.user.first_name %><br>
  <%= @image.title %><br>
  <%= @image.description %>
  <br>
  <%= @image.likes.count %> <i class="small material-icons">thumb_up</i>
</body>
