<body class="dashboard">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">The Space</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/apod">APOD</a></li>
          <li><a href="/images">Explore</a></li>
          <li><a href="/events">Events</a></li>
          <li><a class="disabled" href="/users/<%= current_user.id %>/main">Dashboard</a></li>
          <li><a href="/users/<%= current_user.id %>/profile">My Profile</a></li>
          <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input id='logoutbtn' type="submit" name="" value="Log Out">
          </form>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <h4>Welcome, <%= @user.first_name %> <%= @user.last_name %></h4>
    <br>
    <div class="grid">
      <% @images.each do |image| %>
      <div class="row">
        <div class="grid-item">
          <div class="col s4">
            <a href="/images/<%= image.id %>/show">
              <%= image_tag image.image.url(:large), :class => "dashboard_image" %>
            </a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </main>
  <br>
  <br>
  <br>
  <footer id="footer">
    <div class="row">
      <div class="col s8">
        <h5 class="white-text">The Space</h5>
        <h6 class="grey-text text-lighten-4">© 2017 Isaac Yanbin La Copyright Text</h6>
      </div>
      <div class="col s4">
        <h5 class="white-text">Links</h5>
        <a href="#">NASA</a> | <a href="#">NASA Image</a> | <a href="#">Another</a>
      </div>
    </div>
  </footer>
</body>
