<body class="user_profile">
  <nav id="profile_nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/apod">APOD</a></li>
        <li><a href="/images">Explore</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/users/<%= current_user.id %>/main">Dashboard</a></li>
        <li><a href="/users/<%= @user.id %>/edit">Update Profile</a></li>
        <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input id='logoutbtn' type="submit" name="" value="Log Out">
        </form>
      </ul>
    </div>
  </nav>

  <br>

  <h4>Welcome, <%= @user.first_name %></h4>

  <% if flash[:notice] %>
    <% flash[:notice].each do |notice| %>
      <h6 class="notice_message"><%= notice %></h6>
    <% end %>
  <% end %>

<div class="row">
  <div class="col s1">
  </div>
  <div class="col s10">
    <h4 style="text-align:center">My Images</h4>
    <center><span>*Add a new image <a href="/images/new">HERE</a></span></center>
    <br>
    <% if @images.length == 0 %>
      <h4>I have not uploaded any image yet.</h4>
    <% else %>
      <div id="slider" class="slider" style="width:70%; margin:auto">
        <ul id="slides" class="slides" >
          <% @images.each do |image| %>
          <li id="profile_image" class="profile_image">
            <a href="/images/<%= image.id %>/show">
              <%= image_tag image.image.url(:medium), :id => "profileimage"%>
            </a>
            <div class="caption center-align">
              <h4 class="imagetitle"> <%= image.title %></h4>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col s1">
  </div>
</div>
<div class="divider"></div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col s6">
      <h6>Attending</h6>
        <% if @attending.length == 0 %>
          <span>*I am not going to any event at this moment.</span>
        <% else %>
          <% @attending.each do |attending| %>
          <div class="collection">
            <a id="collapsible-header" href="/events/<%= attending.event.id %>" class="collection-item"><i class="material-icons">event</i><%= attending.event.title %></a>
          </div>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col s6">
      <h6>Hosting</h6>
        <% if @events.length ==0 %>
          <span>*I am not hosting any events yet.</span>
        <% else %>
          <% @events.each do |event| %>
          <div class="collection">
            <a id="collapsible-header" href="/events/<%= event.id %>" class="collection-item"><i class="material-icons">event</i><%= event.title %></a>
          </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col s6">
      <h6>Friend List</h6>
    </div>

    <div class="col s6">
      <h6>My Messages</h6>
    </div>

  </div>
</div>

</body>
