<body class="user_show">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/apod">APOD</a></li>
        <li><a href="/images">Explore</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/users/<%= current_user.id %>/main">Dashboard</a></li>
        <li><a href="/users/<%= current_user.id %>/profile">My Profile</a></li>
        <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input id='logoutbtn' type="submit" name="" value="Log Out">
        </form>
      </ul>
    </div>
  </nav>

  <h1><%= @user.first_name %> <%= @user.last_name%></h1>
  <div class="usershow_info">
    <h4><%= @user.email %></h4>
    <h4><%= @user.state %></h4>
    <h4><%= @user.zipcode %></h4>
  </div>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <h6>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</h6>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <ul class="collection">

      <li class="collection-item avatar">
        <!-- <i class="material-icons circle green">title</i> -->
        <span class="title">Hosting</span>
        <h6>First Line <br>
          Second Line
        </h6>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>

  </div>


  <div id="usershow_hoster">
    <% @events.each do |event| %>
      <div class="usershow_hoster">
        <h5 class='event_title'><a href="/events/<%= event.id %>"><%= event.title %></a></h5>
        <h6><i><%= event.date.strftime('%B %d %Y')%></i> at <%= event.time.strftime("%I:%M%p") %></h6>
        <h5 class='event_address'><%= event.address %>, <%= event.city %>, <%= event.state %>, <%= event.zipcode %></h5>
        <h6 class='event_description'><%= event.description %></h6>
        <hr>
      </div>
    <% end %>
  </div>

  <div id="usershow_attending">
    <% @attending.each do |event| %>
      <div class="usershow_attending">
        <h5 class='event_title'><a href="/events/<%= event.event.id %>"><%= event.event.title %></a></h5>
        <h6><i><%= event.event.date.strftime('%B %d %Y')%></i> at <%= event.event.time.strftime("%I:%M%p") %></h6>
        <h5 class='event_address'><%= event.event.address %>, <%= event.event.city %>, <%= event.event.state %>, <%= event.event.zipcode %></h5>
        <h6 class='event_description'><%= event.event.description %></h6>
        <hr>
      </div>
    <% end %>
  </div>
</body>
