<body class="user_images">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/apod">APOD</a></li>
        <li><a href="/images">Explore</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/users/<%= current_user.id %>/main">Dashboard</a></li>
        <li><a href="/users/<%= current_user.id %>/profile">My Profile</a></li>
        <span>Welcome <%= @user.first_name %><span>
        <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input id='logoutbtn' type="submit" name="" value="Log Out">
        </form>
      </ul>
    </div>
  </nav>
  <br>
  <br>

  <a href="/users/<%= @user.id %>/show">Back to <%= @user.first_name %>'s profile</a>
  <br>
  <br>
  <% if @images.length == 0 %>
  <h3>This user has no image uploaded yet</h3>
  <% else %>
    <div class="grid">
      <% @images.each do |image| %>
      <div class="row">
        <div class="grid-item">
          <div class="col s4">
            <a href="/images/<%= image.id %>/show">
              <%= image_tag image.image.url(:large), :class => "dashboard_image" %>
            </a>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


</body>
