<body class="event_index">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/apod">APOD</a></li>
        <li><a href="/images">Explore</a></li>
        <li><a class="disabled" href="/events">Events</a></li>
        <li><a href="/users/<%= current_user.id %>/main">Dashboard</a></li>
        <li><a href="/users/<%= current_user.id %>/profile">My Profile</a></li>
        <span>Welcome <%= @user.first_name %><span>
        <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input id='logoutbtn' type="submit" name="" value="Log Out">
        </form>
      </ul>
    </div>
  </nav>

  <br>

<center>
  <% if flash[:notice] %>
    <% flash[:notice].each do |notice| %>
      <h5 class="notice_message"><%= notice %></h5>
    <% end %>
  <% end %>
  <h5>Create a new event <a href="/events/new">HERE</a></h5>
</center>

  <!-- <div class="container"> -->
    <div class="row">
      <div class="col s2">
        <div class="state_list">
          <h6 class="state_letter">A</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/AL">Alabama</a>
          <a class="state_option" href="/events/state/AK">Alaska</a>
          <a class="state_option" href="/events/state/AZ">Arizona</a>
          <a class="state_option" href="/events/state/AR">Arkansas</a>
          <br>
          <h6 class="state_letter">C</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/CA">California</a>
          <a class="state_option" href="/events/state/CO">Colorado</a>
          <a class="state_option" href="/events/state/CT">Connecticut</a>
          <br>
          <h6 class="state_letter">D</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/DC">Washington DC</a>
          <a class="state_option" href="/events/state/DC">Delaware</a>
          <br>
          <h6 class="state_letter">F & G & H</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/FL">Florida</a>
          <a class="state_option" href="/events/state/GA">Georgia</a>
          <a class="state_option" href="/events/state/HI">Hawaii</a>
          <br>
          <h6 class="state_letter">I</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/ID">Idaho</a>
          <a class="state_option" href="/events/state/IL">Illinois</a>
          <a class="state_option" href="/events/state/IN">Indiana</a>
          <a class="state_option" href="/events/state/IA">Iowa</a>
          <br>
          <h6 class="state_letter">K & L</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/KS">Kansas</a>
          <a class="state_option" href="/events/state/KY">Kentucky</a>
          <a class="state_option" href="/events/state/LA">Lousiana</a>
          <br>
          <h6 class="state_letter">M</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/ME">Maine</a>
          <a class="state_option" href="/events/state/MD">Maryland</a>
          <a class="state_option" href="/events/state/MA">Massachusetts</a>
          <a class="state_option" href="/events/state/MI">Michigan</a>
          <a class="state_option" href="/events/state/MN">Minnesota</a>
          <a class="state_option" href="/events/state/MS">Mississippi</a>
          <a class="state_option" href="/events/state/MO">Missouri</a>
          <a class="state_option" href="/events/state/MT">Montana</a>
          <br>
          <h6 class="state_letter">N</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/NE">Nebraska</a>
          <a class="state_option" href="/events/state/NV">Nevada</a>
          <a class="state_option" href="/events/state/NH">New Hampshire</a>
          <a class="state_option" href="/events/state/NJ">New Jersey</a>
          <a class="state_option" href="/events/state/NM">New Mexico</a>
          <a class="state_option" href="/events/state/NY">New York</a>
          <a class="state_option" href="/events/state/NC">North Carolina</a>
          <a class="state_option" href="/events/state/ND">North Dakota</a>
          <br>
          <h6 class="state_letter">O</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/OH">Ohio</a>
          <a class="state_option" href="/events/state/OK">Oklahoma</a>
          <a class="state_option" href="/events/state/OR">Oregon</a>
          <br>
          <h6 class="state_letter">P & R & S</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/PA">Pennsylvania</a>
          <a class="state_option" href="/events/state/RI">Rhode Island</a>
          <a class="state_option" href="/events/state/SC">South Carolina</a>
          <a class="state_option" href="/events/state/SD">South Dakota</a>
          <br>
          <h6 class="state_letter">T & U & V</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/TN">Tennessee</a>
          <a class="state_option" href="/events/state/TX">Texas</a>
          <a class="state_option" href="/events/state/UT">Utah</a>
          <a class="state_option" href="/events/state/VT">Vermont</a>
          <a class="state_option" href="/events/state/VA">Virginia</a>
          <br>
          <h6 class="state_letter">W</h6>
          <hr class='hr'>
          <a class="state_option" href="/events/state/WA">Washington</a>
          <a class="state_option" href="/events/state/WV">West Virginia</a>
          <a class="state_option" href="/events/state/WI">Wisconsin</a>
          <a class="state_option" href="/events/state/WY">Wyoming</a>
        </div>
      </div>

    <div id="events" class="col s10">

        <% if @state_events.length == 0 %>
          <h6>*Please click on the states</h6>
        <% elsif %>
          <h5>&nbsp &nbsp Events in <%= @state %></h5>
          <div class="the_state_events">
            <ul class="collapsible popout" data-collapsible="accordion">
              <% @state_events.each do |state_event| %>
              <li>
                <div id="collapsible-header" class="collapsible-header"><i class="material-icons">event</i>
                  <%= state_event.title %>
                </div>
                <div class="collapsible-body">
                  <span>
                    <i class="small material-icons">access_time</i><%= state_event.date.strftime('%B %d %Y')%> at <%= state_event.time.strftime("%I:%M%p") %><br>
                    <br>
                    <i class="small material-icons">add_location</i><%= state_event.address %>, <%= state_event.city %>, <%= state_event.state %>, <%= state_event.zipcode %><br>
                    <br>
                    <i class="small material-icons">message</i><%= state_event.description %><br>
                    <a href="/events/<%= state_event.id %>">Show More</a>
                    <hr>
                    <% if state_event.user == current_user %>
                      <div class="row">
                          <div class="col s6">
                            <a class="white_link" href="/events/<%= state_event.id %>/edit">Edit</a>
                          </div>

                          <div class="col s6">
                            <a class="white_link" href="/events/<%= state_event.id%>" data-method='delete' data-confirm="Are you sure to delete?">Delete</a>
                          </div>
                      </div>
                    <% end %>
                    <% unless state_event.user_id == current_user.id %>
                    <% unless state_event.users.include?(current_user) %>
                    <form action="/attendees" method="post">
                      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
                      <input type="hidden" name="attendee[event_id]" value="<%= state_event.id %>">
                      <button class='waves-effect btn'>Join</button>
                    </form>
                    <% else %>
                    <div class="row">
                      <div class="col s6">
                        <span class="joining">Joining</span>
                      </div>
                      <div class="col s6">
                        <a class="white_link" data-method='delete' data-confirm="Are you sure?" href="/attendees/<%= state_event.id %>">Cancel</a>
                      </div>
                    </div>
                    <% end %>
                    <% end %>
                  </span>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <hr>
        <br>
        <h5>&nbsp &nbsp Events in my stats - <%= current_user.state %></h5>
        <ul class="collapsible popout" data-collapsible="accordion">
          <% @my_state_events.each do |my_state_event| %>
            <li>
              <div id="collapsible-header" class="collapsible-header"><i class="material-icons">event</i>
                <%= my_state_event.title %>
              </div>
              <div class="collapsible-body">
                <span>
                  <i class="small material-icons">access_time</i><%= my_state_event.date.strftime('%B %d %Y')%></i> at <%= my_state_event.time.strftime("%I:%M%p") %><br>
                  <br>
                  <i class="small material-icons">add_location</i><%= my_state_event.address %>, <%= my_state_event.city %>, <%= my_state_event.state %>, <%= my_state_event.zipcode %><br>
                  <br>
                  <i class="small material-icons">message</i><%= my_state_event.description %><br>
                  <a href="/events/<%= my_state_event.id %>">Show More</a>
                  <hr>
                  <% if my_state_event.user == current_user %>
                    <div class="row">
                        <div class="col s6">
                          <a class="white_link" href="/events/<%= my_state_event.id %>/edit">Edit</a>
                        </div>

                        <div class="col s6">
                          <a class="white_link" href="/events/<%= my_state_event.id%>" data-method='delete' data-confirm="Are you sure to delete?">Delete</a>
                        </div>
                    </div>
                  <% end %>
                  <% unless my_state_event.user_id == current_user.id %>
                  <% unless my_state_event.users.include?(current_user) %>
                  <form action="/attendees" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
                    <input type="hidden" name="attendee[event_id]" value="<%= my_state_event.id %>">
                    <button class="waves-effect btn">Join</button>
                  </form>
                  <% else %>
                  <div class="row">
                    <div class="col s6">
                      <span class="joining">Joining</span>
                    </div>
                    <div class="col s6">
                      <a class="white_link" data-method='delete' data-confirm="Are you sure?" href="/attendees/<%= my_state_event.id %>">Cancel</a>
                    </div>
                  </div>
                  <% end %>
                  <% end %>
                </span>
              </div>
            </li>

          <% end %>
        </ul>
  <!-- </div> -->
</body>
