
<body class="event_show">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/apod">APOD</a></li>
        <li><a href="/images">Explore</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/users/<%= current_user.id %>/main">Dashboard</a></li>
        <li><a href="/users/<%= current_user.id %>/profile">My Profile</a></li>
        <form style='display:inline-block' action="/session/<%= current_user.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input id='logoutbtn' type="submit" name="" value="Log Out">
        </form>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s8">
      <div id="event_show">
        <h3 class="event_title"><%= @event.title %></h3>
        <h4><i><%= @event.date.strftime('%B %d %Y')%></i> at <%= @event.time.strftime("%I:%M%p") %></i></h4>
        <h4 class="event_address"><%= @event.address %>, <%= @event.city %>, <%= @event.state %> <%= @event.zipcode %></h4>
        <h4>Hoster: <%= @event.user.first_name %> <%= @event.user.last_name %></h4>
        <h4 class="event_description"><%= @event.description %></h4>
        <hr>
        <br>
        <% if @event.user == current_user %>
          <div class="row">
            <div class="col s6">
              <a class="white_link" href="/events/<%= @event.id %>/edit">Edit</a>
            </div>
            <div class="col s6">
              <a class="white_link" href="/events/<%= @event.id%>" data-method='delete' data-confirm="Are you sure to delete?">Delete</a>
            </div>
          </div>
        <% end %>
        <% unless @event.user_id == current_user.id %>
        <% unless @event.users.include?(current_user) %>
          <form action="/attendees" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
            <input type="hidden" name="attendee[event_id]" value="<%= @event.id %>">
            <input class="joinbtn" type="submit" name="" value="Join">
          </form>
        <% else %>
          <span class="joining">Joining</span> | <a class="cancel_join" data-method='delete' data-confirm="Are you sure?" href="/attendees/<%= @event.id %>">Cancel</a>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col s4">
      <div id="goinglist" style="margin-top:30px;">
        <h5 style="text-align:center" ><i>Attendees</i></h5>
        <hr>
        <div id="event_attendees">
          <% @event.attendees.each do |attendee| %>
          <h5 id="event_attendee"> <a href="/users/<%= attendee.user.id %>/show"><%= attendee.user.first_name %>  <%= attendee.user.last_name %></h5></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</body>
